* {
    box-sizing: border-box;
}

body, 
html {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 0;
    z-index: 1;
}

.container {
    padding-block: 5rem;
    padding-inline: 1.5em;
}

.header {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif sans-serif;

    margin-block: 4em;
    text-align: center;
}

.header h1 {
    font-family: 'Roboto', sans-serif;
}

.header a {
    font-family: 'Space Mono', sans-serif;
}

.link {
    margin-inline: 5%;
}